extends layout

block content
  h1 Morty's Timestamp Page
  br
  p.blue Timestamp Example
  code localhost:3000/ June 13, 2015
  br
  code localhost:3000/ 1253435564
  p.blue Enter your time
  //code {"natural": June 13, 2015, "unix": 1253435564}
